<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="9cf2eb73f21914cbcb7c92a868f976d7"/>
    <add key="consumerSecret" value="dc2b505da88f4ed9974606d47bb9a4f4"/>
    <add key="redirectUri" value="http://www.ya.ru"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
